body
	width 90%
	margin auto
	font-family 'Jost', sans-serif
	max-width 1450px

.uptext
	line-height 3
	background #ebebeb
	display flex
	margin auto
	margin-bottom 15px
	justify-content space-between
	a
		text-decoration none
	.uptxt_cont2
		.txt
			text-decoration underline

.txt
	font-weight 300
	font-size 15px
	color black
	padding 13px
	&:hover
		color orange

.menu
	display flex
	margin auto
	justify-content space-between
	.greytxt
		font-size 13px
		color grey
		margin-bottom -5px
	a
		text-decoration none
	.menu_item
		font-weight 500
		font-size 16px
		color black
		padding 30px
		&:hover
			color orange
	.active
		color orange

.menu2
	display flex
	justify-content space-between

.logo
	max-width 65px

hr
	border none
	height 1px
	background orange
	margin-bottom 50px

.main_block
	display flex
	justify-content space-between
	margin-bottom 50px
	.main_big
		width 67%
		img
			width 100%
			border-radius 30px
	.main_small
		width 30%
		display flex
		flex-direction column
		justify-content space-between
		font-size 20px
		.small_block1
			background orange
			border-radius 20px
			padding 30px
			color white
			height 47%
		.small_block2
			background lightgreen
			border-radius 20px
			padding 30px
			color green
			height 47%

.title_mini
	font-size 40px

.cats_amount
	display flex
	justify-content space-between
	margin-bottom 30px
	.cat_item
		width 19%
		img
			width 100%
			border-radius 10px

.footer
	display flex
	justify-content space-around
	img
		height 100%

.graph
	display block

table 
	table-layout fixed
	width 100%
	border 2px solid orange
	border-radius 10px
	th, td 
		padding 20px
		border 1px solid orange
	margin-bottom 35px

.cat
	width 40%
	margin auto
	img
		border-radius 10%
		width 100%
	margin-bottom 20px

@media (max-width 1400px)
	.menu
		.menu_item
			padding 18px

@media (max-width 1200px)
	.uptext
		display none
	.menu
		margin-top 15px

	.main_block
		.main_small
			font-size 16px

@media (max-width 1000px)
	.menu2 
		align-items center
		flex-wrap wrap
		width 50%
		.menu_item
			width 50%

	.main_block
		margin-bottom -150px
		.main_big
			width 100%
			margin-bottom 25px
		flex-direction column
		.main_small
			flex-direction row
			width 100%
			height 350px
			.small_block1
				width 48%
			.small_block2
				width 48%
	.title_mini
		text-align center
		margin-bottom 30px
	.cats_amount
		flex-direction column
		justify-content space-between
		.cat_item
			width 40%
			margin 15px auto
	table
		font-size 13px

@media (max-width 600px)
	table
		font-size 10px




