<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Jost:wght@300;500&family=League+Spartan:wght@400;700&display=swap", rel="stylesheet")

	body
		.central_block
			include includes/uptext
			include includes/menu
			+createMenu("pats")
			hr.line
			.main_block_pats 
				p.title_mini Питомцы

				.graph
					details
						summary График
				.graph
					details
						summary Фильтр
				.graph
					details
						summary Сортировка

				table
					tr
						td Кличка
						td Порода
						td Год рождения
						td Окрас
						td Вес, кг

					tr
						td Осинка
						td -
						td 2015
						td Коричневый
						td 4.1

					tr
						td Гранит
						td -
						td 2019
						td Черно-белый
						td 39

					tr
						td Ницца
						td Сибирская
						td 2017
						td Рыжий
						td 4.3

					tr
						td Шпуля
						td Британская
						td 2020
						td Серый
						td 5.3

					tr
						td Фунтик
						td Аббисинская
						td 2020
						td Белый
						td 5.1

					tr
						td Капитан
						td Русская голубая
						td 2016
						td Рыжий
						td 4.2

					tr
						td Бублик
						td Британская
						td 2020
						td Рыжий
						td 4.2

					tr
						td Красавчик
						td Аббисинская
						td 2020
						td Рыжий
						td 3.1

					tr
						td Прелесть
						td Британская
						td 2016
						td Белый
						td 3.7

					tr
						td Пушок
						td Аббисинская
						td 2017
						td Рыжий
						td 3.5

					tr
						td Барсик
						td Русская голубая
						td 2018
						td Белый
						td 4.1

					tr
						td Красотуля
						td Русская голубая
						td 2020
						td Коричневый
						td 3.2

					tr
						td Пушистый хвост
						td Аббисинская
						td 2016
						td Белый
						td 21

					tr
						td Пират
						td Британская
						td 2019
						td Коричневый
						td 1.9

					tr
						td Свинтус
						td Аббисинская
						td 2020
						td Коричневый
						td 27

					tr
						td Пеликан
						td Аббисинская
						td 2018
						td Черно-белый
						td 2.9

					tr
						td Червяк
						td Русская голубая
						td 2015
						td Белый
						td 2.7

					tr
						td Луковка
						td Аббисинская
						td 2020
						td Коричневый
						td 2.8

					tr
						td Тюльпанчик
						td Аббисинская
						td 2017
						td Черно-белый
						td 3.2

					tr
						td Остин
						td Аббисинская
						td 2016
						td Белый
						td 3.5

					tr
						td Абрикос
						td Русская голубая
						td 2020
						td Коричневый
						td 3.7

					tr
						td Персик
						td Азиатская
						td 2021
						td Черно-белый
						td 2.7

					tr
						td Свинчик
						td Сиамская
						td 2018
						td Белый
						td 6.0

					tr
						td Мурля
						td Азиатская
						td 2019
						td Черно-белый
						td 5.2

					tr
						td Лисица
						td Аббисинская
						td 2021
						td Черно-белый
						td 2.8

					tr
						td Курочка
						td Сиамская
						td 2019
						td Белый
						td 3.4

					tr
						td Фунтия
						td Азиатская
						td 2019
						td Черно-белый
						td 3.2

					tr
						td Скелет
						td Сиамская
						td 2021
						td Белый
						td 4.1

					tr
						td Кактус
						td Русская голубая
						td 2019
						td Коричневый
						td 3.2


					tr
						td Росток
						td Азиатская
						td 2021
						td Белый
						td 3.1

					tr
						td Ростик
						td Сиамская
						td 2019
						td Коричневый
						td 4.2

					tr
						td Дивидуля
						td Азиатская
						td 2018
						td Белый
						td 1.9

					tr
						td Хамстер
						td Русская голубая
						td 2018
						td Рыжий
						td 2.9

					tr
						td Сталкер
						td Азиатская
						td 2021
						td Коричневый
						td 2.1

					tr
						td Кисуля
						td Русская голубая
						td 2019
						td Рыжий
						td 3.6

					tr
						td Рыжик
						td Сиамская
						td 2021
						td Коричневый
						td 3.4

					tr
						td Карп
						td Русская голубая
						td 2018
						td Коричневый
						td 2.9

					tr
						td Кит
						td Русская голубая
						td 2021
						td Рыжий
						td 3.4

					tr
						td Кот
						td Азиатская
						td 2021
						td Коричневый
						td 5.2

			hr
			include includes/footer
		//- Scripts
		script(src="js/jquery-3.5.1.min.js")
		script(src="js/main.js")
